.container {
    text-align: center;
}

.btn {
    border-radius: 3px;
    margin: 0.5em 1em;
    padding: 0.25em 1em;
}

.bgTransparent
{
    background-color: transparent;
}

.bgBrown
{
    background-color: Brown;
}


.borderBrown
{
    border: 2px solid Brown;
}


.colorBrown
{
    color:  Brown;
}


.colorWhite
{
    color: white;
}